.search-bar input {
  border: none;
  color: var(--dark-blue);
}
.search-bar input:focus {
  outline: none;
}
.questions-page .question img {
  /* object-fit: cover; */
  max-width: 100%;
  height: auto;
}
.questions-page .question .add-answer-input {
  border: none;
  padding-left: 20px;
  font-weight: 600;
  color: var(--dark-blue);
  resize: none;
  flex: 1;
}
.questions-page .question .add-answer-input:focus {
  outline: none;
}
