.questions-and-answers img {
  object-fit: cover;
  transition: 0.5s;
}
.questions-and-answers img:hover {
  transform: rotate(5deg) scale(1.1);
}

.questions-and-answers .text-box.expanded {
  max-height: 600px;
}
@media (max-width: 599px) {
  .questions-and-answers .readmore-button {
    display: none;
  }
}
