.landing .wrapper {
  position: relative;
  overflow: hidden;
  z-index: -1;
  background-color: black;
}

.landing .wrapper .fixed-background {
  background-image: url("/images/slider/fixed-background 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: none;
}

@media (max-width: 1199px) and (min-width: 991px) {
  .landing .wrapper .fixed-background {
    background-image: url("/images/slider/fixed-background.jpg");
    display: block;
  }
}

@media (max-width: 991px) {
  .landing .wrapper .fixed-background {
    display: block;
  }
}

.landing .wrapper .slider {
  height: 100vh;
  left: 0;
  position: relative;
  transition: 1s;
  display: none;
}

@media (min-width: 1200px) {
  .landing .wrapper .slider {
    display: block;
  }
}

.landing .wrapper .slider .background {
  background-size: cover;
  width: 100vw;
  position: absolute;
  height: 100vh;
  transition: transform 15s;
}

.landing .wrapper .slider .background.active {
  transform: scale(1.3);
  z-index: 1;
}

.landing .wrapper .slider .background.active.beginning {
  transform: scale(1);
  animation: slider 15s ease-out;
}

@keyframes slider {
  100% {
    transform: scale(1.3);
  }
}

.landing::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  position: absolute;
}

.landing .desc {
  background-color: var(--transparent-orange);
  width: 40%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .landing .desc {
    width: 65%;
  }
}

@media (max-width: 767px) {
  .landing .desc {
    width: 100%;
  }
}

.landing .desc .text {
  width: 80%;
  padding: 30px 15px;
  opacity: 0;
  transition: 1.3s;
  bottom: -30px;
}

@media (max-width: 991px) {
  .landing .desc .text {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .landing .desc .text {
    width: 100%;
    padding: 30px;
  }
}

.landing .desc .text.active {
  bottom: 0px;
  opacity: 1;
  position: relative;
}

.landing .desc .text h1 {
  font-size: 32px;
  margin: 0 0 20px 0;
}

@media (min-width: 767px) {
  .landing .desc .text p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .landing .desc .text p {
    max-width: 500px;
  }
}

.landing svg {
  border-radius: 50%;
  position: absolute;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(-50%);
  top: 50%;
  padding: 3px;
}

.landing svg:hover {
  background-color: var(--main-color);
}

.landing .arrow-left {
  left: 0;
  margin-left: 20px;
  transition: 0.3s;
}

.landing .arrow-right {
  right: 0;
  margin-right: 20px;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .landing .arrow-left,
  .landing .arrow-right {
    display: none;
  }
}

.landing .arrow-left:hover,
.landing .arrow-right:hover {
  background-color: var(--dark-blue);
}

.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  list-style: none;
  display: none;
  gap: 20px;
}

@media (min-width: 991px) {
  .landing .bullets {
    display: flex;
  }
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--orange);
  cursor: pointer;
  transition: 0.3s;
}

.landing .bullets li:hover,
.landing .bullets li.active {
  background-color: var(--orange);
  border-color: var(--orange);
}
