::selection {
  background-color: var(--orange);
}

body {
  background-color: #f1f2f6;
}

.container.auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

@media (max-width: 991px) {
  .container.auth {
    gap: 60px;
  }
}

.container .intro h1 {
  font-size: 50px;
  color: var(--dark-blue);
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .container.auth {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .container .intro h1 {
    font-size: 35px;
  }
}

.container .intro p {
  font-size: 20px;
  line-height: 1.6;
}

@media (max-width: 991px) {
  .container .intro p {
    font-size: 16px;
  }
}

.container .validation {
  min-width: 450px;
  max-width: 100%;
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.container form {
  position: relative;
  left: 0px;
  transition: 0.3s;
}

.container form .inp {
  position: relative;
}

.container form .inp .error {
  position: absolute;
  top: -27px;
  left: 5px;
  color: red;
}

.container form .inp .error .password-error {
  width: 150%;
}

.container form .user-data {
  width: 100%;
  font-size: 18px;
  padding: 15px 15px 15px 45px;
  border-radius: 12px;
  margin-bottom: 40px;
  color: var(--dark-blue);
}

.container form button {
  transition: 0.3s;
  cursor: pointer;
  padding: 15px;
}

@media (max-width: 767px) {
  .container form button,
  .container form input {
    padding: 10px;
    font-size: 16px;
  }
  .container form input {
    padding-left: 45px;
  }
}

.container form .sign-button {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  background-color: var(--dark-blue);
  color: white;
  margin: 15px 0 10px;
}

.container form .sign-button:hover {
  background-color: #06142c;
}

@media (max-width: 767px) {
  .container form .log-button,
  .container form .sign-button {
    font-size: 16px;
  }
}

.container .login {
  position: absolute;
  left: -180%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 15px;
}

.container .login.active {
  left: 50%;
}

.forgot-password {
  color: var(--orange);
  cursor: pointer;
}

.signup-now {
  text-align: center;
  margin-bottom: 40px;
}

.back {
  border: none;
  font-size: 18px;
  color: var(--dark-blue);
  cursor: pointer;
  left: 15px;
  color: var(--orange);
  padding: 0 5px;
}

.icon {
  position: absolute;
  left: 12px;
  top: 14px;
  color: var(--dark-blue);
}

@media (max-width: 767px) {
  .icon {
    top: 10px;
  }
}
