.footer .phone-numbers {
  list-style: none;
}
.footer .phone-numbers li {
  position: relative;
}
.footer .phone-numbers li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--orange);
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  border-radius: 50%;
}
.footer .rights span {
  color: var(--orange);
}
