/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* Start variables and root options */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dark: #000100;
  --dark-blue: #13213c;
  --dark-blue-hover: #0f1f3e;
  --orange: #fca311;
  --orange-hover: #c67d07;
  --transparent-orange: rgba(252, 162, 17, 0.6);
  --gray: #e5e5e5;
  line-height: 1.5;
  font-weight: 400;
}

/* End variables and root options */

/* Start global rules */
::-webkit-scrollbar {
  width: 12px;
  background-color: var(--gray);
}
::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}
::selection {
  background-color: var(--dark-blue);
  color: var(--orange);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  position: relative; */
}

/* to turn the snap scrolling on, all you need is uncomment the below code */
/* .section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
} */
/* Start implementing container feature */

.container {
  padding: 0 5px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End implementing container feature */
/* Start section's title design */
.main-title {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 70px;
  width: fit-content;
  margin: 60px auto;
  color: var(--dark-blue);
}
.main-title:before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--orange);
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 105px;
}
.main-title:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 3px solid var(--orange);
  bottom: -41px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
/* End section's title design */
/* End global rules */
